<div class="container pt-4 h-100">
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>About this Program</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>This program is designed for compressing
              static (image) CYOAs, but it can be used to compress
              any set of images.  The program takes a zip file as input,
              and will compress all PNGs in the file into lossless WebPs.
              Any other image formats in the file will be compressed into
              high quality AVIF files.  Any non-image files in the zip File
              will be returned as is.
            </p>
            <p>
              This program will process images in parallel up to the number
              of threads available on your processor - 1.  The progressbar should
              show the number of completed files out of the total files in the zip
              file.  Files not processed (non-image files) will show as completed
              as soon as they are skipped.
            </p>
            <p>
              If you are looking for a image viewer to view the compressed images
              with, my recommendation is 
              <a href="https://www.xnview.com/en/xnviewmp/">XnView MP</a>.
            </p>
            <p>
              The github repository can be found 
              <a href="https://github.com/blathers16/static-cyoa-compressor">here.</a>
              If you discover any issues with this program, you can file an issue there.
              Please avoid including any content in the issue which could
              violate GitHub TOS.
            </p>
            <h3>Changelog</h3>
            <h4>Version 1.0 (not released)</h4>
            <ul>
              <li>
                Initial release
              </li>
            </ul>
            <h4>Version 1.1 (9-28-2024)</h4>
            <ul>
              <li>
                fixed issue with replacing file extensions
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  @if (clearPicker) {
  <ng-template #fileTip class="fileTip">
      Accepts a .zip file containing images.
    </ng-template>
  <input
    class="form-control my-4"
    id="input"
    type="file"
    [ngbTooltip]="fileTip"
    tooltipClass="my-custom-class"
    placement="start"
    (change)="process($event)"
    accept="application/zip"
    />
  } @else {
  <ng-template #fileTip class="fileTip"><
      Accepts a .zip file containing images.
  </ng-template>
  <input
    class="form-control my-4"
    id="input"
    type="file"
    [ngbTooltip]="fileTip"
    placement="start"
    tooltipClass="my-custom-class"
    (change)="process($event)"
    accept="application/zip"
  />
  }
  <div class="d-flex justify-content-between">
    <button
      type="button"
      class="btn my-button mb-3"
      (click)="toggleClearPicker()"
    >
      Reset File Picker
    </button>
  </div>
  @if (inProgress) {
  <ngb-progressbar
    class="mb-3"
    [showValue]="true"
    type="primary"
    [value]="progress"
    [max]="progressMax"
  />
  } @if (result && result.href && result.download) {
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Download</th>
          <th scope="col">Input Size</th>
          <th scope="col">Output Size</th>
          <th scope="col">Elapsed Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="{{ result.href }}" download="{{ result.download }}">{{
              result.download
            }}</a>
          </td>
          <td>{{ result.inFileSize }}</td>
          <td>{{ result.outFileSize }}</td>
          <td>
            <time
              dateTime="PT{{ stripLeadingZeros(elapsedTime.split(':')[0]) }}H{{
                stripLeadingZeros(elapsedTime.split(':')[1])
              }}M{{
                stripLeadingZeros(elapsedTime.split(':')[2].split('.')[0])
              }}S"
              >{{ elapsedTime }}</time
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</div>
